.App {
  margin-top: 100px;
  padding-top: 30px;
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  max-height: 100px;
  width: 100%;
}

li {
  float: left;
}

.elem-github-logo {
  float: right;
}

.github-logo{
  height: 100px;
}
footer{
  padding-left: 10%;
}


